@model Estapar.Models.Manobrista

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Manobrista</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.num_cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.num_cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nom_manobrista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nom_manobrista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dat_nascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dat_nascimento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
