@model IEnumerable<Estapar.Models.Manobrista>

@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Manobristas</h1>

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.num_cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nom_manobrista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dat_nascimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.num_cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nom_manobrista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dat_nascimento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
