@model IEnumerable<Estapar.Models.Carro>

@{
    ViewData["Title"] = "Carros";
}

<h1>Carros</h1>

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nom_marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nom_modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.num_placa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom_marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nom_modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.num_placa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
